.vkap_tooltip_icon_button {
  color: var(--vkui--color_icon_secondary);
  cursor: pointer;
}

.vkap_tooltip_icon_button_padding {
  cursor: pointer;
  padding: 4px;
}

.vkap_tooltip_icon_button:hover {
  color: var(--vkui--color_icon_tertiary);
}